<html>
  <head>
  </head>
  <body>
    <%= @player_1_name %> attacked <%= @player_2_name %>
    <form action="/play">
      <input type="submit" name="Continue" id="continue">
    </form>
  </body>
</html>